body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}

h1, h2, p {
    text-align: center;
    color: white;
}

#heart {
    font-size: 3em;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

#yesButton, #noButton {
    background-color: #a82287;
    color: #f093fb;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#yesButton:active:after {
    content: '❤';
    font-size: 2em;
    position: absolute;
    animation: heart-pop 1s ease-out;
}

@keyframes heart-pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
.profile-picture img {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%; /* This will make it round */
    object-fit: cover; /* This will ensure the image covers the area without stretching */
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
}
